{% extends "base.html" %}
{% block content %}
<div class="w-full lg:w-2/3 mx-auto mt-10 mb-10 p-6 border rounded-lg shadow-lg">
    {% comment %} {% if messages %}
    {% for message in messages %}
        <p style="color:red;">{{ message }}</p>
    {% endfor %}
    {% endif %}
    {% if forms.non_field_errors %}
    {% for error in forms.non_field_errors %}
        {{error}}
    {% endfor %}
    {% endif %} {% endcomment %}

    <form action="" method='POST'>
        <div>
        {% csrf_token %}
        {% for field in form %}
        <p>
            <label for="{{ field.id_for_label }}">{{field.label}}</label>
            {{ field}}
        
        {% if field.errors %}
         <ul>
           {% for error in field.errors %}
                <li>{{ error }}</li>
           {% endfor %}
        </ul>
        {% endif %}
        {% endfor %}
        </p>
            <button class='bg-red-400 px-4 py-2 rounded-lg mt-2 text-white' type="submit">Sign Up</button>
        </div>
    </form>
</div>
{% endblock content %}