{% extends 'base.html' %}
{% load static %}
{% block content %}
{% if messages %}
                {% for message in messages %}
                <p style="color:red;">{{ message }}</p>
                {% endfor %}
{% endif %}
<div class="relative flex justify-center items-center mt-5 mb-5">
    <div class="flex flex-col items-center">
        {% if club.image %}
            <img src="{{ club.image.url }}" alt="{{ club.name }}"
                 class="max-w-[400px] max-h-[400px] object-contain rounded-2xl shadow-md border-4 border-gray-300" />
        {% else %}
            <img src="{% static 'images/default_club.png' %}" alt="{{ club.name }}"
                 class="max-w-[400px] max-h-[400px] object-contain rounded-2xl shadow-md border-4 border-gray-300" />
        {% endif %}
        <div class="mt-4 text-center">
            <p class="text-4xl font-bold">{{ club.name }}</p>
        </div>

    </div>
    <div class="absolute top-1/2 left-0 w-full h-1 bg-gray-300 -z-10"></div>
</div>
<div class="mt-4 mb-5">
    {% if club.description %}
        <p class="text-gray-700 text-justify leading-relaxed max-w-5xl mx-auto mt-4 mb-10 whitespace-pre-line">
    {{ club.description }}
</p>
    {% else %}
        <p class="text-gray-500 italic mt-2">No description available.</p>
    {% endif %}
</div>
<!-- Join Club Button -->
<div class="max-w-5xl mx-auto text-center mt-6">
{% if user.is_authenticated %}
    {% if is_member %}
        <button type="button" class="bg-gray-500 max-w-5xl mx-auto text-white font-semibold py-2 px-4 rounded-lg cursor-not-allowed" disabled>
            Joined
        </button>
    {% else %}
        <form action="{% url 'join-club' club.id %}" method="post">
            {% csrf_token %}
            <button type="submit" class="bg-blue-600 max-w-5xl mx-auto hover:bg-blue-700 text-white font-semibold py-2 px-4 rounded-lg">
                Join Club
            </button>
        </form>
    {% endif %}
{% else %}
    <a href="{% url 'sign-in' %}" class="bg-blue-600 max-w-5xl mx-auto hover:bg-blue-700 text-white font-semibold py-2 px-4 rounded-lg">
        Login to Join
    </a>
{% endif %}
</div>
{% endblock %}